* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  background-color: #F3F4F4;
}

a {
	text-decoration: none;
	color: #1B1F25;

}

h1 {
	font-size: 4.5rem;
  font-weight: bold;
  color: #1B1F25;

}

h2 {
	font-size: 2rem;
  font-weight: bold;
  color: #1B1F25;

}

h3 {
	font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2%;
  color: #1B1F25;
  line-height: 140%;

}

p {
	font-size: 1rem;
	line-height: 120%;
	color: #1B1F25;

}


/* --CABECERA-- */

header {
	width: 100%;
	height: auto;
	background-color: #F3F4F4;
	display:flex;
	justify-content:space-between;
}

#logotip {
	width: 50%;
	height: auto;
	display: flex;
	align-items: center;
/*	background-color: red;*/
}

#logotip img{
	padding: 0 0 0 5%;
	max-width: 40%;
  height: auto;
}

#logomovil {
	display: none;
}

.menuhamburguesa {
	display: none;
}

nav {
	width: auto;
	justify-content:space-evenly;
	flex-direction:row;
/*	background-color: cyan;*/
}

#menu {
	width: auto;
	height: 100%;
	list-style:none;
	display:flex;
	padding:4vh;
}

.linksmenu {
	width: auto;
	margin: 0px 40px;
}

.linksmenu a {
	text-decoration:none;
	color: #1B1F25;
	font-size: 1rem;
	border-radius: 16px;
	padding:2vh;
} 

.linksmenu a:hover{
	text-decoration-line: underline;
	text-decoration-thickness: 1px 
}

/* --FINAL CABECERA-- */

/*--VIDEO--*/
#hero {
	position: relative;
	width: 100vw;
	height: 100vh;
/*	background-color: cyan;*/
	display:flex;
	color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--FINAL VIDEO--*/


/*--INFO--*/


/* fondo + contenido encima */

#fondomovil img{
	display: none;
}

#contenedorfondo {
	width: 100%;
/*	background-color: red;*/
	z-index: 0;
	position: relative;
}

#contenedorfondo img {
	display: flex;
	width: 100%;
	z-index: 0;
	position: absolute;
}

#titulohome h1{
  display: flex;
  padding-top: 5%;
  text-align: left;
  justify-content: center;
  position: relative;
	z-index: 1;
}

#cajas_arriba {
  display: flex;
  justify-content: space-around;
  text-align: center;
	padding: 7% 7% 0% 7%;
	position: relative;
	z-index: 1;
}

#cajas_arriba h2 {
	color: #F3F4F4;	
}

#cajaizquierda{
	background-color: #ED6BB1;
	width: 60%;
	padding: 3%;
	border-radius: 30px;
	box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.2);
}


#cajaderecha {
	width: 20%;
	background-color: #E1087D;
	padding: 3%;
	border-radius: 30px;
	box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.2);
}

#caja_abajo {
  display: flex;
  justify-content: center;
  text-align: justify;
	padding-top: 6%;
}

#cajacentro {
	width: 60%;
	background-color: #F6B5D8;
	padding: 3%;
	border-radius: 30px;
	box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 1;
}

#caja_abajo p {
	  font-size: 1.8rem;
}

/* final fondo + encima */

/* 3 experiencias de abajo */

#contenedor_exp1 {
	display: flex;
	justify-content: space-between;
	padding: 20% 0 0 10%;
	position: relative;
	z-index: 1;
/*	background-color: red;*/
}

#experiencias1 {
	width: 40%;
/*	background-color: cyan;*/
}

#experiencias1 h2{
  display: flex;
  padding-bottom: 14%;
}

#experiencias1foto img{
	width: 90%;
	top: -27%;
  right: 3%;
  position: relative;
}

/*//////////*/

#cont_exp_inmersiva {
	display: flex;
	padding: 0 0 0 10%;
	position: relative;
	z-index: 1;
}

#cont_exp_inmersiva{
	display: flex;
	justify-content: space-around;
}

#textos_inmersiva p {
	width: 80%;

}

#textos_inmersiva {
	padding-left: 23%;

}

#inmersiva_foto img{
	width: 100%;
	top: -35%;
  left: 50%;
  position: relative;
}

/*////////////*/

#cont_zonas {
	display: flex;
}

#cont_zonas {
	display: flex;
	justify-content: space-around;
	height: 450px;
/*	background-color: red;*/
}

#experiencias2 p {
	width: 65%;
}

#experiencias2 {
	padding-left: 10%;
}

#experiencias2foto img{
	width: 90%;
	top: -44%;
  left: -24%;
  position: relative;
}


/* final experiencias */



#texto_pie {
	display: flex;
	justify-content: center;
	padding-bottom: 7%;

/*	background-color: skyblue;*/
}

#texto_pie h3 {
	width: 50%;
	text-align: center;
}

/*--FINAL INFO--


/*--FOOTER--*/
footer {
  background-color: #D9D9D9;
  padding: 3% 10% 5% 10%;
}

#logofooter {
	width: 40%;
	height: auto;
}

#logofooter img{
	width: 20%;
	padding: 4% 0 0 3%;
}

#partearriba {
	display: flex;
	justify-content: space-between;
}

#idiomas {
/*	background-color: red;*/
	width: 12%;
	display: flex;
	justify-content: space-between;
/*	font-weight: bold;*/
	margin: 3% 0 0 3%;
	overflow: hidden;
}

#idiomas ul{
	display: flex;
	flex-wrap: nowrap;
}

#idiomas li {
	padding: 7%;
}

#idiomas a {
	color: #1B1F25;
	text-decoration: none;
}

#esbold a {
	font-weight: bold;

}

.infofooter ul{
	text-align: center;
	padding: 0 0 2% 0;
}

.infofooter li{
 	display: inline;
}

.infofooter a {
	color: #1B1F25;
	padding: 1%;
	text-decoration: none;
}

.infofooter a:hover {
	text-decoration-line: underline;
	text-decoration-thickness: 1px 
}

#redes img {
	width: 3%;
}

#redes ul{
	text-align: center;
	padding-top: 2%;
}

#redes li{
 	display: inline;
}

#redes a {
	color: #1B1F25;
	padding: 1%;
	text-decoration: none;
}

/*--FINAL FOOTER--*/




@media screen and (max-width: 1024px) {
	

  #logotip {
    display: none;
  }

  #logomovil {
    display: flex;
    align-items: center;
  }

  #logomovil img {
	padding: 0 0 0 0%;
	max-width: 30%;
  height: auto;
  }

  #menu {
  	display: none;
  }

  .menuhamburguesa {
  	display: flex;
  	width: 100%;
  	position: relative;
  	flex-wrap: wrap;
  	padding: 2%;
  	z-index: 1;
  	justify-content: space-between;
  }

  .check_hamburguesa{
  	display: none;
  }

  .check_hamburguesa:checked + .caja_linksmenu{
  	display: block;
  }

  .icono_hamburguesa {
  	display: flex;
  	align-items: center;
  	cursor: pointer;
  }
	
	.caja_linksmenu {
		width: 100%;
		top:100%;
		text-align: center;
		position: absolute;
		left: 0;
		display: none;
	}

	.caja_linksmenu a {
		text-decoration: none;
		font-size: 1.2rem;
/*		font-weight: bold;*/
		color: #1B1F25;
	}

	.linksmenu_hamb1 {
		padding: 4%;
		background-color: #F7BDDC;
	}

	.linksmenu_hamb2 {
		padding: 4%;
		background-color: #F189C1;
	}

	/* FINAL CABECERA	*/

	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.1rem;
	}

	h3 {
		font-size: 1rem;
	}

	p {
		font-size: 0.9rem;
	}

/* INFO	*/

	#fondomovil img{
		display: flex;
		width: 100%;
		z-index: 0;
		position: absolute;
	}

	#contenedorfondo img{
	display: none;
	}

	#titulohome {
  position: relative;
	z-index: 1;
	width: 100%;
	}

	#cajas_arriba {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#cajas_arriba div{
		border-radius: 15px;
/*	background-color: green;*/
	}

	#cajaderecha {
/*		background-color: red;*/
		width: 30%;
		margin-top: 6%;
	}

	#cajacentro {
		border-radius: 15px;
		width: 80%;
	}

	#caja_abajo p{
		margin: 2%;
		font-size: 0.9rem;
	}

/* 1 */
	#contenedor_exp1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 8% 0 0 0;
	}

	#experiencias1 {
		width: 60%;
	}

	#contenedor_exp1 h2{
		width: 100%;
		font-size: 1.6rem;
		line-height:120%;
	}

	#experiencias1foto {
		display: flex;
		justify-content: center;
		padding-top: 5%;
	}

	#experiencias1foto img{
		width: 60%;
		display: flex;
		justify-content: center;
	}

/* FINAL 1	*/

/* 2 */

#cont_exp_inmersiva {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: column-reverse;
	padding-top: 8%;
}

#inmersiva_foto img{
	padding-top: 5%;
	width: 60%;
	left: 0;
}

#inmersiva_foto {
	display: flex;
	justify-content: center;
}

#textos_inmersiva {
	width: 79%;
	padding-left: 0%;
}

/* FINAL 2 */

/* 3 */



#cont_zonas {
	width: 100%;
		justify-content: center;
/*	background-color: red;*/
	display: flex;
	flex-direction: column;
	padding: 15% 0 0 0;
}

#experiencias2 {
	width: 100%;
	padding-left: 19%;
}

#experiencias2 p {
	width: 100%;
}

#experiencias2foto {
	display: flex;
	justify-content: center;
	padding-top: 10%;

}

#experiencias2foto img{
	width: 60%;
	left: 0;
	top: 0;
}

#experiencias2 {
	width: 79%;
/*	padding-left: 0%;*/
}

/* FINAL 3 */

#texto_pie {
	padding: 15% 0 10% 0;
}


/* FOOTER */
	
	footer {
	  padding-top: 5%;
	}

	#partearriba {
		padding-top: 3%;
	}

	#logofooter {
		width: 85%;
	}

	#idiomas {
		padding: 0 26% 0 0;
		overflow: hidden;
	}

	#idiomas a {
		font-size: 0.9rem;
	}

	#infofooter_caja {
		padding-top: 4%;
	}

	.infofooter {
		padding: 2%;
	}

	.infofooter a {
		font-size: 0.8rem;
	}

	#redes img {
		width: 8%;
	}
}